@import "tailwindcss";
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #fdfbf7; /* Màu kem nền chủ đạo */
}

html {
    scroll-behavior: smooth;
}

/* Utility classes cho fonts */
.font-script { font-family: var(--font-script), cursive; }
.font-serif { font-family: var(--font-serif), serif; }
.font-sans { font-family: var(--font-sans), sans-serif; }